  <!--<div class="container-fluid">
        <nav class="navbar navbar-default marginzero">
                <div class="container-fluid">
                  <div class="navbar-header">
                  </div>
                  <ul class="nav navbar-nav">
                    <li><a routerLink="hashtag">Hashtag search</a></li>
                    <li><a routerLink="user">User search</a></li>
                  </ul>
                </div>
        </nav>
    <router-outlet></router-outlet>
  </div>-->
  <div class="container-fluid">
  <ul class="nav nav-tabs borderzero">
        <li>
          <a routerLink="hashtag" routerLinkActive="well marginzero">Hashtag search</a>
        </li>
        <li>
          <a routerLink="user" routerLinkActive="well marginzero">User search</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
      </div>
      